hardware/Battery_Soldering_Controller/History
hardware/Battery_Soldering_Controller/History/Project\ Logs\ for\ Battery_Soldering_Controller
hardware/Battery_Soldering_Controller/History/Project\ Outputs\ for\ Battery_Soldering_Controller
hardware/Battery_Soldering_Controller
software/battery_soldering_iron